.material {
  @import "../node_modules/ng-snotify/styles/material"; 
}

.dark {
  @import "../node_modules/ng-snotify/styles/dark"; 
}

.simple {
  @import "../node_modules/ng-snotify/styles/simple"; 
}

*{
  font-family: 'Raleway', sans-serif;
}
.fixed{
  top:0;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.container {
  margin-top:2.5rem;
}