<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>
