<header class="header header-5">
    <div class="header-nav">
        <a  *ngIf="!sessionService.user" [routerLink]="['/signup']" class="nav-link"><span class="nav-text">Signup</span></a>
        <a *ngIf="!sessionService.user" [routerLink]="['/login']" class="nav-link"><span class="nav-text">Login</span></a>
        <a *ngIf="sessionService.user" [routerLink]="['/profile']" class="nav-link"><span class="nav-text">Profile</span></a>
        <a *ngIf="sessionService.user" [routerLink]="['/new-match']" class="nav-link"><span class="nav-text">New Match</span></a>
        <a *ngIf="sessionService.user" (click)="sessionService.popVal()" class="nav-link"><span class="nav-text">Valoration</span></a>
        <!-- <a *ngIf="sessionService.user" href="#" class="nav-link" (click)="logout()"><span class="nav-text">Logout</span></a> -->
    </div>
    <div  *ngIf="sessionService.user" class="header-actions">
        <clr-dropdown>
            <button class="nav-text" clrDropdownTrigger>
                {{sessionService.user.email}}
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="..." clrDropdownItem>Preferences</a>
                <a *ngIf="sessionService.user" [routerLink]="['/']"  (click)="logout()" clrDropdownItem>Logout</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
    <div *ngIf="sessionService.popValue">
    <app-valoration></app-valoration>
</div>
<!-- <ul>
  <li *ngIf="!sessionService.user"><a [routerLink]="['/signup']">Signup</a></li>
  <li *ngIf="!sessionService.user"><a [routerLink]="['/login']">Login</a></li>
  <li *ngIf="sessionService.user"><a [routerLink]="['/profile']">Profile</a></li>
  <li *ngIf="sessionService.user"><a [routerLink]="['/new-match']">New Match</a></li>
  <li *ngIf="sessionService.user"><a [routerLink]="['/valoration']">valoration</a></li>
  <li *ngIf="sessionService.user"><a href="#" (click)="logout()">Logut</a></li>

</ul> -->
</header>
<router-outlet></router-outlet>