
//  }
//    .header{ 
//     overflow: hidden;
//     background-color: #333;
//     position: fixed; /* Set the navbar to fixed position */
//     top: 0; /* Position the navbar at the top of the page */
//     width: 100%; /* Full width */
//    }

.branding img{
  width: 50px;
}

.material {
  @import "../../node_modules/ng-snotify/styles/material"; 
}

.header{
  background-color:#6A9497;
}

img{
  object-fit: cover;
}


.help1{
  justify-content: end;
  align-content: center;
 
}

.center-nav-liks{
  margin-top:-13px;
}

.x{
text-align: center;
}

#navbarSupportedContent{
  background-color:#6A9497;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40px;
}