<form>
  <h2> Signup </h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="username" name="username"/>
  <br>
  <label> Email </label>
  <input type="text" [(ngModel)]="email" name="email"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="password" name="password"/>

  <button (click)="signup(username, password)"> SIGNUP </button>
  <br>
  <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
</form>
<p class="error"> {{ error }} </p>