<form>
  <!-- <h2> New Match</h2>
  <label> Hour </label>
  <input type="time" [(ngModel)]="hour" name="hour" required/>
  <br>
  <label> Date </label>
  <input type="date" [(ngModel)]="date" name="date" min="{{minDate}}" required/>
  <br>
  <label> Place </label>
  <label for="latitude">Latitude: </label>
  <input id="lat" type="text" #lat name="lat" placeholder="choose a latitude" required>
  <label for="Longitude">Longitude: </label>
  <input id="lng" type="text" #lng name="lng" placeholder="choose a longitude" required>
  <br>
  <agm-map [latitude]="40.4167" [longitude]="-3.70325" [zoom]="14" (mapClick)="mapClicked($event, lat,lng)">

    <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label"></agm-marker>


    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>


  </agm-map> -->


  <clr-wizard #wizardlg [(clrWizardOpen)]="lgOpen" clrWizardSize="lg">
    <clr-wizard-title>Add match</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'" (click)="matchService.toggleShow()">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'" (click)="createMatch(hour, date, lat.value, lng.value)">Finish</clr-wizard-button>

    <clr-wizard-page>
      <ng-template clrPageTitle>Hour and Date</ng-template>
      <label> Hour </label>
      <input type="time" [(ngModel)]="hour" name="hour" required/>
      <br>
      <label> Date </label>
      <input type="date" [(ngModel)]="date" name="date" min="{{minDate}}" required/>
      <br>
    </clr-wizard-page>

    <clr-wizard-page>
      <ng-template clrPageTitle>Place</ng-template>
      <label for="latitude">Latitude: </label>
      <input id="lat" type="text" #lat name="lat" placeholder="choose a latitude" required>
      <label for="Longitude">Longitude: </label>
      <input id="lng" type="text" #lng name="lng" placeholder="choose a longitude" required>
      <br>
      <agm-map [latitude]="40.4167" [longitude]="-3.70325" [zoom]="14" (mapClick)="mapClicked($event, lat,lng)">

        <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label"></agm-marker>


        <agm-info-window>
          <strong>InfoWindow content</strong>
        </agm-info-window>


      </agm-map>
    </clr-wizard-page>


  </clr-wizard>



  <!-- <button (click)="viewWizard()">Add match</button>

  <button (click)="createMatch(hour, date, lat.value, lng.value)">Add match</button> -->
</form>
<p class="error"> {{ error }} </p>