<div [hidden]="!chart">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>

<div class="profileResume">
  <h2 *ngIf="sessionService.user">WELCOME BACK {{sessionService.user.username}}</h2>
</div>
<div *ngIf="matchService.show">
  <app-new-match></app-new-match>
</div>
<!-- <button class="btn btn-primary" (click)="showNewMatch()">Add match</button> -->
<clr-tabs>
    <clr-tab>
        <button clrTabLink>Record</button>
        <ng-template [(clrIfActive)]="dashboardActive">
            <clr-tab-content>
                <app-record></app-record>
            </clr-tab-content>
        </ng-template>
    </clr-tab>

    <clr-tab>
        <button clrTabLink>My matches</button>
        <ng-template [(clrIfActive)]="managementActive">
            <clr-tab-content>
                <app-my-matches></app-my-matches>
            </clr-tab-content>
        </ng-template>
    </clr-tab>

    
</clr-tabs>

