<div class="back">
  <form>
    <h2> Login </h2>
    <label> Username </label>
    <input type="text" [(ngModel)]="username" name="username"/>
    <br>
    <label> Password </label>
    <input type="password" [(ngModel)]="password" name="password"/>
  
    <button (click)="login(username,password)"> login </button>
    
  </form>
  <button class="loginBtn loginBtn--google" (click)="socialLogIn('google')">Log in with Google</button>

  <!-- <div *ngIf="signIn">
      <button class="loginBtn loginBtn--google" (click)="socialSignIn('google')">Log in with Google</button>
      </div> -->
  <p class="error"> {{ error }} </p>
</div>