


<clr-wizard #wizardmd [(clrWizardOpen)]="mdOpen" clrWizardSize="md">
        <clr-wizard-title></clr-wizard-title>

        <clr-wizard-button  [routerLink]="['/profile']">Cancel</clr-wizard-button>
        <clr-wizard-button  (click)="submitForm(drive.value,backhand.value,serve.value,volley.value,resistance.value,id)"   class="btn btn-primary">Submit</clr-wizard-button>
<!-- -->
        <clr-wizard-page>
                
            <ng-template clrPageTitle  >Puntua a tu rival</ng-template>
            <form   #myForm="ngForm">
              <p> Drive
                  <input #drive type='number' name='' id='' value=5 min="1" max="10">
              <p> Backhand
                  <input #backhand type='number' name='' id='' value=5 min="1" max="10">
              </p>
              <p> Serve
                  <input #serve type='number' name='' id='' value=5 min="1" max="10">
              </p>
              <p> Volley
                  <input #volley type='number' name='' id='' value=5 min="1" max="10">
              </p>
              <p> Resistance
                  <input #resistance type='number' name='' id='' value=5 min="1" max="10">
              </p>
              <p>
                  <textarea name="textarea" rows="5" placeholder="What do you think about the other user?"></textarea>
              </p>
            </form>
        </clr-wizard-page>
    </clr-wizard>
    
    