<h1>Mi primer formulario angular</h1>

<form (ngSubmit)="submitForm(drive.value,backhand.value,serve.value,volley.value,resistance.value)" #myForm="ngForm">
  <p> Drive
      <input #drive type=“number” name=“” id=“” value=5>
  <p> Backhand
      <input #backhand type=“number” name=“” id=“” value=5>
  </p>
  <p> Serve
      <input #serve type=“number” name=“” id=“” value=5>
  </p>
  <p> Volley
      <input #volley type=“number” name=“” id=“” value=5>
  </p>
  <p> Resistance
      <input #resistance type=“number” name=“” id=“” value=5>
  </p>
  <p>
      <textarea name="textarea" rows="20" cols="80">Write something here</textarea>
  </p>
  <button type="submit"> Submit </button>
</form>
